@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Boldonse", system-ui;
  font-size: 18px;
  font-weight: 400;
  background-color: #f7f0e3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5e503f;
}

h1 {
  font-weight: 600;
  font-size: xx-large;
  text-align: start;
  margin-bottom: 2rem;
}

button {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  border: 4px solid #5e503f;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

#myCanvas {
  border: 4px solid #927e67;
  width: 60vh;
  height: 60vh;
}
